src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="441b04dc-ab20-4d7a-aaa9-5e645feaa6a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="aae38247-6f4e-40e2-9035-f69c3e4b5e7a" >
		<http:listener doc:name="Listener" doc:id="e396f9b2-67ca-4801-a2a8-c3aa74cd5e74" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="bc61ad0f-0c7a-4b5d-916b-17e02902f15e" message="--------------flow start----------"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e766e6d9-d9ce-4233-8c76-52206bf6077a" />
		<logger level="INFO" doc:name="Logger" doc:id="09ed6c55-fff6-4927-9f99-f1b5db28c64a" message="--------------flow ended----------"/>
	</flow>
</mule>
